{% extends "website/base.html" %}

{% block content %} 
{% load static %}
<section class="container-fluid py-5 text-center" style="background-color: #003399; color: #ffffff;">
  <h1 class="display-3 fw-bold mb-4" >Camp United</h1>
  <hr>
  <h1 class="display-5 fw-bold text-body-emphasis" style="color: orange !important;">Contact Us</h1>
</section>
<div class="container">
<div class="row w-100">
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <div class="col-md-7" >
      
      <br>
      {% for data in company %}

      <h1 class="display-5 fw-bold text-body-emphasis" style="color: #003399 !important;"">Reach Out!</h1>
       
        <p><a href="{{data.email}}" style="color: orange !important;">{{data.email}}</a></p>
        <p>@{{data.instagram}}</p>
        <p>{{data.website}}</p>
        <p>{{data.address |linebreaks}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center ">
    <img src="{% static 'images/cu_logo_main_detail6.png' %}" alt="Camp United" height="400" width="400">
  </div>
</div>
</div>


{% endblock content %}